<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Url | Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ruge+Boogie&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style="font-size: 100px; font-family: 'Ruge Boogie', cursive; color:#4d1b80;">
                    MiniUrl
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="field">
                <label class="label">Your Mini URL :</label> 
                <div class="control">
                    <input class="input" type="text" name="original_url" value="{{ original_url }}"> 
                </div> <br/>
                <div class="container">
                    <div class="field">
                        <label class="label">Copy/Paste New Url</label> 
                        <div class="control">
                            <input class="input" type="text" name="original_url"
                                value="{{ url_for('short.redirect_to_url', shorten_url=new_link, _external=True) }}">
                        </div>
                    </div>
                </div>
                <br/>
                <a type="submit" class="button is-link is-light" href="{{ url_for('short.index') }}">Back to homepage</a>
                <a type="submit" class="button is-link is-light" href="{{ url_for('short.stats') }}">View History</a>
            </div>
    </section>
</body>

</html>